<mat-toolbar class="c-toolbar" color="accent" fxLayout="row">
  <span fxFlex="70%">Oma Projekt</span>
  <div fxFlex="30%">
  	<form class="example-form" fxLayout="row" fxLayoutAlign="space-between">
	  <mat-form-field class="example-full-width" fxFlex="40%" color="primary">
	    <input type="text" matInput placeholder="login" [(ngModel)]="user.login" name="login">
	  </mat-form-field>
	
	  <mat-form-field class="example-full-width" fxFlex="40%" color="primary">
	    <input type="password" matInput placeholder="password" [(ngModel)]="user.userPassword"  name="userPassword">
	  </mat-form-field>
	  <button fxFlex="10%" mat-raised-button color="primary" (click)="authorize()">Log in</button>
	</form>
  </div>
  
</mat-toolbar>

<main class="container">
	<router-outlet></router-outlet>
</main>
