/*login ja sign up*/
body{
	background-color: #cce6ff;
}
.header{
	height: 260px;
	width: 100%;
	background-image: url("images/lilled.jpg");
}
h1{
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 3em;
}
.container{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
}
input{
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 5px;
}
button{
	width: 80px;
	height: 40px;
	border-radius: 5px;
	margin-top: 10px;
	background-color: white;
	font-size: 1em;
	color: #009900;
}
.registration{
	text-align: center;
	margin-top: 40px;
}
.registration a{
	font-weight: 600;
	color: #005ce6;
	text-decoration: none;
}
.registration a:hover{
	color: red;
}
label{
	font-weight: 600;
}
.signUp{
	margin-top: 150px;
}
/*main*/
tr{
	outline: 1px solid rgba(0, 0, 0, .1);
}
.leftPanel{
	float: left;
	width: 70%
	
}

.rightPanel{
	float: right;
	width: 20%;
	font-family: 'Open Sans', sans-serif;
}

.topnav{
    background-color: #009900;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #cce6ff;
    color: #005ce6;
}
.header h1{
	padding-top: 195px;
	margin-top: 0;
	text-align: right;
	margin-right: 25px;
}

